<!-- <div class="jumbotron"> -->
<!--   <h1>Loan Plan Builder</h1> -->
<!-- </div> -->

<div class="row marketing">
  <p>Blurb based on insight template...</p>
  <payments-chart loan="loan" height="400px" width="700px"></payments-chart>

    <nvd3-stacked-area-chart
      data="studentChartData"
      id="student-default-chart"
      showXAxis="true"
      showYAxis="true"
      width="550"
      height="350"
      ydomain="[0,1]"
      objectequality="true">
      <svg></svg>
    </nvd3-stacked-area-chart>

  <student-default-rates></student-default-rates>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Amount Borrowed</th>
        <th>Grace Period</th>
        <th>Payments</th>
        <th>Interest Rate</th>
        <th>Monthly</th>
      </tr>
    </thead>
    <tbody>
      <tr class="info">
        <td>{{loanInfo.amount | currency : $}}</td>
        <td>{{loanInfo.graceMonths}} months</td>
        <td>{{loanInfo.payments}}</td>
        <td>{{loanInfo.interestRate}} %</td>
        <td>{{loan.maxMonthlyPayment() | currency : $}}</td>
      </tr>
    </tbody>
  </table>
  <h3>Cost to Insight: {{loan.cost() | currency : $}}</h3>
  <button type="button" ng-class="{'btn-success': loanInfo.installments}" class="btn" ng-model="loanInfo.installments" btn-checkbox>
    Get paid in installments
  </button>
  <span>This button reduces the cost and mitigates 'Virgil Risk'</span>
  <p>Amount</p>
  <slider floor="1000" ceiling="10000" step="1" precision="0" ng-model="loanInfo.amount"></slider>
  <p>Grace period</p>
  <slider floor="0" ceiling="12" step="1" precision="0" ng-model="loanInfo.graceMonths"></slider>
  <p>Number of monthly payments</p>
  <slider floor="1" ceiling="24" step="1" precision="0" ng-model="loanInfo.payments"></slider>
  <p>Interest rate</p>
  <slider floor="0.0" ceiling="20.0" step="0.1" precision="1" ng-model="loanInfo.interestRate"></slider>

</div>

<div class="footer">
</div>
