<!-- <div class="jumbotron"> -->
<!--   <h1>Loan Plan Builder</h1> -->
<!-- </div> -->
<div class="row marketing">
  <h1>Interest Rates</h1>
  <p>
  We've put together a simple model to calculate the interest rates we can offer to students. It is based on 3 things:
  </p>

  <ol>
    <li>the overall target return we need to offer lenders in order to source capital,</li>
    <li>our fee,</li>
    <li>how much we expect to lose from students not being able to repay their loan.</li>
  </ol>

  <p>
    A number of schools have told us that they are a bit in the dark about how the last of these 3 components is estimated, so here's a little app to visualize how we're calculating rates and to show how we can work together to reduce them for the students.
  </p>
  
  <h2>Student Defaults</h2>
  <p>
  In the student defaults distribution below, the x-axis represents the (unknown) percentage of dollars that aren't paid back by a particular cohort of students in the future, and the y-axis represents the probability of actually seeing that default percentage. So, for example, in the model below, we're estimating a {{ studentDefaultRates[0]['40'] * 100}}% chance that around 40% of the total dollars from a particular cohort won't be paid back.
  </p>
  <nvd3-stacked-area-chart
    data="studentChartData"
    id="student-default-chart"
    showXAxis="true"
    showYAxis="true"
    width="600"
    height="250"
    ydomain="[0,1]"
    objectequality="true">
  </nvd3-stacked-area-chart>
  <p>We've estimated the students' default distribution based on the data you provided us with. We have to be conservative for the first cohort, and you can adjust the percentages yourself to see how, as the students successfully repay, and the distribution moves towards the left, the interest rates are lowered. Just click to edit the probability boxes below (apart from the '0%' probability, which is calculated from the rest of the boxes):</p>
  <student-default-rates></student-default-rates>
  <p>Based on the probabilities in the boxes above, the expected (mean) student default rate is <b>{{expectedStudentDefault | number : 2}}%</b>.</p>

  <h2>School Defaults</h2>
  <p>
  As with any business, there is a chance that something goes wrong. Perhaps <a href="http://pando.com/2014/02/03/last-week-in-fear-mongering-no-the-state-isnt-shutting-down-coding-bootcamps/">the regulatory environment changes</a>, or there is a sudden collapse of demand in employment, and the good folk at {{schoolName}} aren't able to cover the agreed share of student defaults. We've encorporated this risk as a 'school default probability'. This will reduce as we work together, and you can see this effect by adjusting the slider below.
  </p>

  <div class="sliders">
    <label>School default probability {{schoolDefaultProbability * 100 | number : 0}}%</label>
    <slider floor="0" ceiling="1" step="0.01" precision="2" ng-model="schoolDefaultProbability"></slider>
  </div>

  <h3>Losses when {{schoolName}} Defaults</h3>

  <p>
  Below is a graph of the probability distribution of different student default levels AND {{schoolName}} defaulting. You can think of it as the contribution to the risk in the case that {{schoolName}} defaults.
  </p>

  <nvd3-stacked-area-chart
    data="schoolDefaultsChartData"
    id="school-defaults-chart"
    showXAxis="true"
    showYAxis="true"
    width="600"
    transitionduration="0"
    height="250"
    ydomain="[0,1]"
    objectequality="true">
  </nvd3-stacked-area-chart>

  <nvd3-discrete-bar-chart
    data="schoolChartData"
    id="school-default-probability-chart"
    showValues="true"
    yaxisdomain="[0,1]"
    transitionduration="0"
    objectequality="true"
    width="150"
    height="250"
    >
  </nvd3-discrete-bar-chart>

  <h3>Losses when {{schoolName}} Doesn't Default</h3>

  <p>
  Below is a graph of the probability distribution of different default levels in the normal case: when {{schoolName}} <em>doesn't</em> default. There are two levers to pull here that reduce interest rates for the students. The first is when {{schoolName}} covers the first <i>x%</i> of student defaults, which moves our risk to the left. The second is when {{schoolName}} shares the remaining <i>y%</i> of the losses, which squashes our risk towards the left. The overall height of this component of the risk is determined by the school default risk above.
  </p>

  <nvd3-stacked-area-chart
    data="schoolPaysChartData"
    id="school-pays-chart"
    showXAxis="true"
    showYAxis="true"
    transitionduration="0"
    width="600"
    height="250"
    xdomain="[0,100]"
    ydomain="[0,1]"
    objectequality="true">
  </nvd3-stacked-area-chart>

  <div class="sliders">
    <label>School covers first {{schoolCoversFirst * 100 | number : 0}}% of defaults</label>
    <slider floor="0" ceiling="1" step="0.01" precision="2" ng-model="schoolCoversFirst"></slider>
    <label>School shares {{schoolSubsidy * 100 | number : 0}}% of remaining defaults</label>
    <slider floor="0" ceiling="1" step="0.01" precision="2" ng-model="schoolSubsidy"></slider>
  </div>

  <h2>Overall Rates</h2>
  <p>
    The expected losses from both scenarios of {{schoolName}} defaulting and not defaulting are added up and used along with our target net investor return to calculate the interest rate for the students below:
  </p>
  <interest-table></interest-table>
</div>

<div class="row marketing" ng-controller="RepaymentsCtrl">
  <h1>Repayment Schedule</h1>
  <p>
    Now that we have an interest rate, the goal is to find a repayment schedule that gets the student out of debt and into financial independence quickly, but that is manageable given the career path she is undertaking. We can put together a repayment structure that makes sense for the student, based on 4 factors:
  </p>

  <ol>
    <li>how much she needs to borrow,</li>
    <li>when she can expect to start her fancy new job,</li>
    <li>her expected starting salary,</li>
    <li>the cost of living in the city she will be working in.</li>
  </ol>

  <p>
  The student is guaranteeing that they are unemployed for the duration of the course, plus 4-6 weeks after the course has finished and they are interviewing. During the initial <em>grace period</em>, the student makes small payments, to check that everything is wired up correctly and in order, but that is easily manageable. After this period, the loan is repaid in equal monthly installments.
  </p>

  <h2>Monthly Loan Balance</h2>
  <nvd3-multi-bar-chart
    data="balancesChartData"
    id="balances-chart"
    tooltips="false"
    showvalues="true"
    showxaxis="true"
    showyaxis="true"
    transitionduration="0"
    delay="0"
    width="750"
    height="250"
    objectequality="true"
    >
  </nvd3-multi-bar-chart>

  <h2>Monthly Principal and Interest Payments</h2>
  <nvd3-multi-bar-chart
    data="paymentsChartData"
    id="payments-chart"
    tooltips="false"
    showvalues="true"
    showxaxis="true"
    showyaxis="true"
    stacked="true"
    showlegend="true"
    transitionduration="0"
    delay="0"
    width="750"
    height="250"
    objectequality="true"
    >
  </nvd3-multi-bar-chart>

  <div class="sliders">
    <label>Student borrows {{loanAmount | currency : $}}</label>
    <slider floor="1000" ceiling="10000" step="100" precision="0" ng-model="loanAmount"></slider>
    <label>{{gracePayments}} grace payments</label>
    <slider floor="0" ceiling="6" step="1" precision="0" ng-model="gracePayments"></slider>
    <label>of {{gracePaymentAmount | currency : $}}</label>
    <slider floor="0" ceiling="100" step="1" precision="0" ng-model="gracePaymentAmount"></slider>
    <label>followed by {{payments}} payments of {{loan.installment | currency : $}}</label>
    <slider floor="1" ceiling="24" step="1" precision="0" ng-model="payments"></slider>
  </div>

  <p>The student will pay a total of {{loan.totalInterest | currency : $}} in interest over the life of the loan.</p>
</div>

<div class="footer">
</div>
